h1{
    color: aqua;
}
#one{
    width: 500px;
    height: 200px;
    background-color: white;
    align-self: center;
}
#two{
    width: 500px;
    height: 200px;
    background-color: white;
    align-self: center;
}
body{
    background-color: #141D2C;
    align-items: center;
    display: inline-block;
}